<div class="detail-page" *ngIf="listing">

  <div class="detail-inner">
    <img [src]="listing.photo" [alt]="listing.title" class="detail-img" />

    <div class="detail-info">
      <p class="detail-category">{{ listing.category }} </p>
      <h1 class="detail-title">{{ listing.title }}</h1>
      <p class="detail-description">{{ listing.description }}</p>
      <button class="btn-contact">Написать продавцу</button>
    </div>
  </div>

</div>

<!-- <div *ngIf="!listing" class="not-found">
  Объявление не найдено
</div> -->